.list ul {
    position: relative;
  }
  .list ul li {
    position: relative;
    left: 0;
    list-style: none;
    margin: 4px 0;
    border-left: 2px solid #388da8;
    transition: 0.5s;
    cursor: pointer;
  }
  .list ul li:hover {
    left: 10px;
  }
  .list ul li a {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
    color:#333;
  }
  .list ul li:hover a {
    color: #fff;
  }
  .list ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #388da8;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  .list ul li:hover:before {
    transform: scaleX(1);
  }