@charset "UTF-8";
/*
*
* Contexts
*/

/* body {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 400;
	letter-spacing: .075em;
	color: #777777;
	background-color: #ffffff;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
} */

.section-style-2 {
	color: #151515;
	letter-spacing: .05em;
}

h1, [class^='heading-'] {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bolder;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-family: "Asfalto";
	color: #151515;
	font-size: 80px;
	color:white;
	text-shadow: 3px 2px 1px black;
	text-align: left;
}

@media only screen and (max-width: 600px){
	h1, [class^='heading-'] {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: bolder;
		letter-spacing: .1em;
		text-transform: uppercase;
		font-family: "Asfalto";
		color: #151515;
		font-size: 36px;
		color:white;
		text-shadow: 3px 2px 1px black;
		text-align: center;
	}
}

#swipper{
	filter:blur(0.5px);
}

#swipper_title{
	filter: blur(none);
}
