@charset "UTF-8";
/*
*
* Contexts
*/

.section-style-2 {
	color: #151515;
	letter-spacing: .05em;
}

h1, [class^='heading-'] {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bolder;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-family: "Asfalto";
	color: #151515;
	font-size: 35px;
	color:white;
	text-shadow: 3px 2px 1px black;
	text-align: left;
}

@media only screen and (max-width: 600px){
	h1, [class^='heading-'] {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: bolder;
		letter-spacing: .1em;
		text-transform: uppercase;
		font-family: "Asfalto";
		color: #151515;
		font-size: 36px;
		color:white;
		text-shadow: 3px 2px 1px black;
		text-align: center;
	}
}

#swipper {
	position: relative;
	background-image: url('{{ asset('storage/' . $row->image) }}');
	background-size: cover;
	background-position: center;
}

#swipper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity for the desired overlay effect */
	filter: brightness(50%); /* Adjust brightness, where 100% is normal, <100% darkens, and >100% brightens */
	z-index: 1;
}

.swiper-slide-caption {
	position: relative;
	z-index: 2; /* This ensures the caption is above the overlay */
}

